#****************************************************************
#Copyright (c) 2009  Larence Livermore National Security (LLNS)
#All rights reserved.
#****************************************************************
#
# Organization: Lawrence Livermore National Lab (LLNL)
#  Directorate: Computation
#   Department: Computing Applications and Research
#     Division: S&T Global Security
#       Matrix: Atmospheric, Earth and Energy Division
#      Program: PCMDI
#      Project: Earth Systems Grid
# First Author: Gavin M. Bell (gavin@llnl.gov)
#
#  Description:
#
#     Files that git should ignore...
#****************************************************************

TAGS
.ant-targets-build.xml
*~
*swp
*.png
*.cache
*.DS_Store
*.a
*.o
*.class
*.pyc
*.egg
*#*
*.md5
semantic.cache*
generated/
/build
/dist
/test-results
Packages/cdms2/Test/test*fc*
Packages/cdms2/Test/*.nc
Packages/*/it*.*
Packages/vcs/pyqtscripting.sbf
Packages/vcs/cdatwrap
Packages/vcs/Info/__init__.py
Packages/vcs/Src/Qt/moc_mainwindow.cpp
Packages/vcs/result.pdf
Makefile
Scripts/cdat
Scripts/vcdat
checked_get.sh
config.log
config.status
exsrc/CMakeCache.txt
exsrc/CMakeCache.txt.in
installation/cdat_info.py
logs/
site.cfg
sources/
version
