[submodule "contrib/eof2"]
	path = contrib/eof2
	url = http://uv-cdat.llnl.gov/git/eof2.git
[submodule "contrib/windfield"]
	path = contrib/windfield
	url = http://uv-cdat.llnl.gov/git/windfield.git
[submodule "contrib/sciMake"]
	path = contrib/sciMake
	url = git://github.com/Tech-XCorp/sciMake.git
