[submodule "Packages/cmor"]
	path = Packages/cmor
	url = http://esg-repo.llnl.gov/git/cmor.git
[submodule "contrib/eof2"]
	path = contrib/eof2
	url = git@esg-repo.llnl.gov:eof2.git
[submodule "contrib/windfield"]
	path = contrib/windfield
	url = git@esg-repo.llnl.gov:windfield.git
